@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #87ceeb;
}
nav,
.nav-links {
  display: flex;
}
.logo {
  cursor: default;
}
nav {
  align-items: center;
  justify-content: space-around;
  height: 17vh;
}
.nav-links {
  gap: 3rem;
}
.nav-links li {
  cursor: pointer;
  list-style: none;
}
section {
  display: flex;
  padding-top: 4vh;
  height: 96vh;
  min-height: fit-content;
  margin: 0 10rem;
}
