@media screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  .hamburger-nav {
    display: flex;
  }
  #profile {
    margin: 0 3.5rem;
  }
  .first-img-div {
    height: 42vh;
  }
}
