@media screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  .hamburger-nav {
    display: flex;
  }
  nav {
    align-items: none;
    justify-content: space-between;
    padding: 0 2rem;
    height: 12vh;
  }
  #profile {
    padding-top: 0;
    margin: 0 2rem;
  }
  .first-img-div {
    height: 42vh;
  }
}
